<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Author</th>
        <th scope="col">Message</th>
        <th scope="col">Date</th>
        <th scope="col">Options</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let commit of commits; let i = index">
        <th scope="row">{{i + 1}}</th>
        <td>{{commit.committer.name}}</td>
        <td>{{commit.message}}</td>
        <td>{{commit.committer.date | date}}</td>
        <td><a href="https://github.com/bryanmps07/home-test-backend/commit/{{commit.tree.sha}}" target="_blank" rel="noopener noreferrer">View Changes</a></td>
      </tr>
    </tbody>
  </table>